.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.inputGroup {
	display: flex;
	align-items: center;
	border-radius: 5px;
	padding: 0.5rem;
	background: white;
	position: relative;
	width: 100%;
}

.inputGroupBlock {
	display: flex;
	align-items: center;
	border-radius: 5px;
	padding: 0.5rem;
	background-color: rgb(240, 240, 240);
	position: relative;
	width: 100%;
}

.inputGroupBlock:focus-within {
    background-color: white;
    transition: background-color 0.3s ease-in-out;
}


.icon {
	color: #3b82f6;
	position: absolute;
	left: 10px;
	font-size: 18px;
}

.input {
	border: none;
	outline: none;
	flex: 1;
	padding: 0.5rem 0.5rem 0.5rem 35px;
	font-size: 1rem;
	background: none;
	color: black;
}

label {
	font-weight: bold;
	color: black;
	display: block;
	margin-bottom: 5px;
}

.showButton {
	background: none;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 10px;
	font-size: 18px;
	color: #3b82f6;
}

.error {
	color: red;
	font-size: 14px;
	margin-top: 5px;
	font-weight: bold;
}

.errorBorder {
	border: 2px solid red;
}