.carDetail {
	width: 100%;
	min-height: 100vh;

	& h2 {
		padding: 2rem 0;
		text-align: center;
		width: inherit;
		background-color: var(--main-color);
		color: var(--white);
		margin-bottom: 1rem;
	}
}
.carDetail_container {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	@media screen and (min-width: 1024px) {
		flex-direction: row;
	}
}

/* ########## Gallery ########## */
.carGallery {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;

	@media screen and (min-width: 1024px) {
		width: 50%;
	}
}

.carGallery_mainImageContainer {
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
}

.carGallery_mainImage {
	width: 100%;
	height: 14rem;
	object-fit: contain;

	@media screen and (min-width: 480px) {
		height: 24rem;
	}
}

.carGallery_navButtonLeft,
.carGallery_navButtonRight {
	position: absolute;
	background-color: rgba(var(--rgb-white), 0.5);
	color: white;
	border: 2px solid var(--main-color);
	border-radius: 0.4rem;
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--main-color);
	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: var(--blue-extra-light);
	}
}

.carGallery_navButtonLeft {
	left: 0;
}

.carGallery_navButtonRight {
	right: 0;
}

.carGallery_thumbnails {
	display: flex;
	justify-content: space-evenly;
	width: 100%;

	& img {
		object-fit: contain;
		width: 33.33333333%;
	}
}

.carGallery_thumbnail {
	border-radius: 8px;
	cursor: pointer;
	border: 2px solid transparent;
	transition: border 0.3s ease-in-out;
}

.carGallery_thumbnail.active {
	border: 2px solid var(--main-color);
}
/* ########## End Gallery ########## */

/* ########## Car Info ########## */
.carInfo {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;

	@media screen and (min-width: 768px) {
		flex-direction: column;
		flex-wrap: wrap;
	}

	@media screen and (min-width: 1024px) {
		width: 50%;
		flex-direction: column;
		justify-content: start;
	}
}

.carInfo_cards {
	flex-direction: column;
	display: flex;
	flex-wrap: nowrap;
	gap: 1rem;

	@media screen and (min-width: 765px) {
		flex-direction: row;
	}

	@media screen and (min-width: 1024px) {
		flex-direction: column;
	}
}

.carInfo_cardContainer {
	width: 100%;
	background-color: var(--blue-extra-light);
	border-radius: 0.3125rem;
	color: var(--black);
}

.carDetailData {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;

	& h3 {
		font-size: 1.5rem;
	}
}

.carDetailData.favoriteButton {
	position: absolute;
	top: 0.8rem;
	right: 0.8rem;
}

.carDetailDataButtons {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
}
Container .carDetailSpecs {
	& h4 {
		width: 100%;
		border-bottom: 1px solid var(--main-color);
		padding-bottom: 0.6rem;
		margin-bottom: 1rem;
	}
}

.carDetailSpecsData {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 1rem;
	padding: 0.4rem 0;

	& svg {
		width: 1.6rem;
	}
}
/* ########## End Car Info ########## */
