.carDetails {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	padding-bottom: 4rem;

	& h2 {
		font-size: 2rem;
		width: inherit;
		background-color: var(--main-color);
		color: var(--white);
		padding: 2rem 0;
		text-align: center;
		margin-bottom: 1.4rem;
	}
}

.carDetailsContainer {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;

	@media screen and (min-width: 1024px) {
		flex-wrap: nowrap;
	}
}

.carDetailsSearch {
	position: relative;
	background-color: var(--blue-extra-light);
	width: 100%;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	padding: 1.75rem;

	@media screen and (min-width: 768px) {
		width: 100%;
	}

	@media screen and (min-width: 1024px) {
		width: 25%;
	}
}

.carDetailsSearch h3 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 0.75rem;
	color: var(--black);
}

.carDetailsSearch p {
	font-size: 0.9rem;
	font-weight: 500;
	margin-bottom: 1rem;
	color: var(--main-color);
}
.carDetailsSearch p span {
	font-weight: 700;
}

.carDetailsSearch form div {
	gap: 1rem;
	width: inherit;
	flex-direction: column;
	@media screen and (min-width: 768px) {
		flex-direction: row;
	}

	@media screen and (min-width: 1024px) {
		flex-direction: column;
	}
}

.carDetailsSearch form select {
	background-color: var(--white);
}
.carDetailsSearch form button {
	margin-top: 0;
}
