/* ########## HeaderNav ########## */
.header {
	display: block;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: var(--white);
	height: var(--header-height);
	box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.headerNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: inherit;
}

/* ########## NavigationLogo ########## */

/* ########## NavigationMobile ########## */
.navigationMobileIcon {
	display: block;
	cursor: pointer;
	transition: transform 0.3s ease, opacity 0.3s ease;

	@media screen and (min-width: 1024px) {
		display: none;
	}
}

.navigationMobileIconOpen {
	transform: rotate(90deg);
}

/* ########## NavigationMenu ########## */
.navigationMenu {
	position: absolute;
	display: none;
	opacity: 0;
	top: 100%;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(250, 250, 250, 0.6);
	transform: translateX(100%);
	padding: 2rem 0;
	transition: opacity 0.3s ease, transform 0.3s ease;

	@media screen and (min-width: 1024px) {
		position: static;
		width: 100%;
		display: flex;
		opacity: 1;
		transform: translateX(0);
		background-color: transparent;
		min-height: auto;
		justify-content: flex-end;
	}
}

.navigationMenuMobileOpen {
	opacity: 1;
	transform: translateX(0);
	z-index: 1;
}

.navigationMenu__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	@media screen and (min-width: 1024px) {
		width: 100%;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
	}
}

.navigationMenu__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1;
	gap: 1rem;

	@media screen and (min-width: 1024px) {
		text-align: initial;
		justify-content: space-evenly;
	}

	& li {
		font-weight: bold;
		text-transform: uppercase;

		& a {
			color: var(--black);
			font-weight: 600;
			border-radius: 0.4rem;
			text-decoration: none;
			text-transform: capitalize;
			transition: color 0.3s ease-in-out;

			@media screen and (min-width: 1024px) {
				&:hover {
					color: var(--main-color);
				}
			}
		}
	}
}

.navigationMenu__cta {
	display: flex;
	gap: 1rem;

	@media screen and (min-width: 1024px) {
		gap: 2rem;
	}
}
