.calendarContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    margin-bottom: 2rem;
}

.unavailableDate {
    background-color: var(--warning) !important;
    color: white !important;
}

.tempSelectedDate {
    background-color: darkblue !important;
    color: white !important;
    font-weight: bold !important;
}

.confirmedRangeDate {
    background-color: lightblue !important;
    color: black !important;
    font-weight: bold !important;
}
