.calendarContainer {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.4rem;
	margin-bottom: 2rem;
}

.pastDate {
	background-color: #d3d3d3 !important; /* Gris */
	color: #999 !important;
	pointer-events: none; /* Evitar interacción */
}

.unavailableDate {
	background-color: var(--warning) !important;
	color: white !important;
}

.today {
	font-weight: bold !important;
	background-color: none !important;
}
