.form {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
	margin: auto;
}

.label {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	color: #002366;
}

.input {
	width: 100%;
	padding: 8px;
	border: 1px solid #ffffff;
	border-radius: 4px;
	background: white;
	color: black;
}

.input::placeholder {
	color: #d0d0d0;
}

.passwordContainer {
	display: flex;
	align-items: center;
}

.toggleButton {
	margin-left: 10px;
	padding: 5px;
	font-size: 12px;
	background: none;
	border: none;
	color: #002366;
	cursor: pointer;
}

.toggleButton:hover {
	text-decoration: underline;
}
