.container {
	max-width: var(--container-mw);
	width: 100%;
	padding-left: var(--container-pl);
	padding-right: var(--container-pr);
	margin-left: var(--container-ml);
	margin-right: var(--container-mr);
}

.section {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	padding-top: var(--section-pt);
	padding-bottom: var(--section-pb);
	color: var(--black);
}

.flex-row {
	display: flex;
	flex-wrap: nowrap;
}

.align-middle {
	align-items: center;
}

.flex-column {
	flex-direction: column;
}

.main-btn {
	display: inline-block;
	font-size: 1rem;
	font-weight: 600;
	padding: 0.5rem 2.6rem;
	border-radius: 8px;
	background-color: var(--main-color);
	color: white;
	text-align: center;
	text-transform: capitalize;
	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: var(--main-color-darken);
	}
}
