:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	/*color-scheme: light dark;*/
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--white);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--white: #ffffff;
	--black: #000000;
	--main-color: #2d74ba;
	--main-color-darken: hsl(210, 61%, 36%);
	--blue-extra-light: #ecf3f9;
	--mid-grey: #5f6569;
	--golden: #eaca17;
	--warning: #ba2d74;
	--warning-darken: hsl(330, 61%, 40%);

	--rgb-main-color: 45, 116, 186;
	--rgb-blue-extra-light: 236, 243, 249;
	--rgb-white: 255, 255, 255;
	--rgb-warning: 186, 45, 116;

	--container-mw: 1280px;
	--container-pl: 1rem;
	--container-pr: 1rem;
	--container-ml: auto;
	--container-mr: auto;

	--section-pt: 4rem;
	--section-pb: 4rem;

	--header-height: 5rem;
	--menu-gap: 2rem;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	font-weight: 500;
	color: var(--black);
	text-decoration: inherit;
}

body {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	width: 100%;
	min-height: 100vh;
	height: 100%;
}

h1 {
	line-height: 1.5;
}

main {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100vh;
	height: 100%;
}

ol,
ul {
	list-style: none;
}

button {
	background: inherit;
	border: none;
	line-height: 1.5;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
}
